@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Rye&family=Suez+One&display=swap");

// Variables
$black: #1E000E;
$light-gray: #F5F5F5;
$primary: #E4572E;
$secondary: #E4DCB4;

$font-logo: 'Rye', cursive;
$font-title: 'Suez One', serif;
$font-text: 'Nunito', sans-serif;

$size1: 3.052rem;
$size2: 2.441rem;
$size3: 1.953rem;
$size4: 1.563rem;
$size5: 1.25rem;
$size6: 1rem;
$size7: 0.8rem;
$size8: 0.64rem;

// Resets
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

// Typography
main {
  font-family: $font-text;
}

h1,
h2,
h3,
h4,
h5, 
h6 {
    font-family: $font-title;
}